@import "tailwindcss";
body {
  background-color: #f3f4f6; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}